@import 'settings.scss';

.hidden {
	display: none;
}

body {
	color: white;
	font-size: 16px;
	font-family: $body;
	font-weight: 300;
	background: url(../images/background.jpg) no-repeat fixed center;
	background-size: cover;
}

.fade-out {
	background-color: black;
	display: hidden;
}

#header {
	background-color: $black;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	
	img {
		width: 150px;
	}
}


#loadCharacters{
	background-color: rgba($black, 0.63);
	color: white;
	height: 50px;
	&:hover {
		background-color: rgba($green, 0.5);
	}
}


#mainContent {
	margin: 0;
	padding: 0;
}



.resultsInfo {
	background-color: rgba(65, 62, 61, 0.63);
	text-align: center;
	padding-top: 30px;
	
	img {
		width: 180px;
		text-align: center;
	}

	/*
		FIRST AJAX CALL
	*/
	#results {
		list-style:none;
		text-align: left;
		height: 100vh;
		margin: 0;
		a {
			font-size: 16px;
			font-family: $body;
			font-weight: 300;
			color: #ffffff;
			opacity: 0.5;
			text-transform: uppercase;
			line-height: 40px;
			text-align: center;

			&:hover {
				transition: 0.2s ease-in;
				color: $black;
				opacity: 1;
			}
			li {
				&:hover {
					background-color: rgba($red, 0.63);
					transition: 0.1s ease-in;
				}
			}
		}
	}
	/*
		SECOND AJAX CALL - DETAILS
	*/
	#characterInfo {
		p {
			font-family: $body;
			font-weight: 400;
			font-size: 18px;
		}
	}
}


/* 
	MEDIUM and up 
*/


@media screen and (min-width: 40em) {
	.resultsInfo {
		box-shadow: 2px 0 2px 5px rgba(0, 0, 0, 0.2);
		/*
			FIRST AJAX CALL
		*/
		#results {
			a {
				text-align: left;
			}
		}
	}
}


/* 
	Large and up 
*/
@media screen and (min-width: 64em) {}
