$BLACK_COLOR: #131314;
$YELLOW_COLOR: #F7E74B;
$WHITE_COLOR: #ffffff;
$GREY_COLOR: #E4E5E3;

body {
    color: $YELLOW_COLOR;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    background-color: $BLACK_COLOR;
}

h1 {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    text-align: center;
}

p {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    letter-spacing: 0.5px;
}

ul {
    li {
        font-family: 'Noto Sans', sans-serif;
        font-weight: 400;
    }
}

.header {
    background-color: #050506;
    .logo {
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
        
        img {
            width: 100px;
        }
    }
}

.character-content {
    padding-top: 10px;
    padding-bottom: 10px;
}

#results {
    list-style-type: none;
    padding-left: 0;
    margin: 0;

    .character-item {
        padding: 15px;
        border-bottom: 1px solid rgba($GREY_COLOR, 0.1);

        a {
            width: 100%;
            color: $WHITE_COLOR;
            text-decoration: none;

            font-family: 'Noto Sans', sans-serif;
            font-weight: 700;

            letter-spacing: 1px;

            span {
                font-family: 'Noto Sans', sans-serif;
                font-weight: 400;
            }
        }

        &:hover {
            background-color: rgba($GREY_COLOR, 0.1);
        }
    }

    @media screen and (min-width: 1200px) {
        text-align: center;

        .character-item {
            display: inline-flex;
            margin-top: 5px;
            margin-bottom: 5px;
            padding: 5px 30px;
            border-bottom: 1px solid transparent;
        }
    }
}

.character-info {
    margin-top: 20px;
}