/*
	TYPOGRAPHY
*/
/*
	COLORS
*/
.hidden {
  display: none;
}

body {
  color: white;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  background: url(../images/background.jpg) no-repeat fixed center;
  background-size: cover;
}

#loadCharacters {
  background-color: rgba(65, 62, 61, 0.63);
  color: white;
  height: 50px;
}

#loadCharacters:hover {
  background-color: rgba(144, 203, 90, 0.5);
}

#mainContent {
  margin: 0;
  padding: 0;
}

.resultsCont {
  height: 100vh;
}

.resultsCont .resultsInfo {
  background-color: rgba(65, 62, 61, 0.63);
  text-align: center;
  padding-top: 30px;
  /*
        FIRST AJAX CALL
    */
}

.resultsCont .resultsInfo img {
  width: 180px;
  text-align: center;
}

.resultsCont .resultsInfo #results {
  list-style: none;
  text-align: left;
  height: 100vh;
  margin: 0;
}

.resultsCont .resultsInfo #results a {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  color: #ffffff;
  -webkit-opacity: 0.5;
  opacity: 0.5;
  text-transform: uppercase;
  line-height: 40px;
  text-align: center;
}

.resultsCont .resultsInfo #results a:hover {
  transition: 0.2s ease-in;
  color: #413E3D;
  -webkit-opacity: 1;
  opacity: 1;
}

.resultsCont .resultsInfo #results a li:hover {
  background-color: rgba(237, 28, 36, 0.63);
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.resultsCont #characterInfo {
  height: 100vh;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  -webkit-opacity: 0.8;
  opacity: 0.8;
  display: -webkit-flex;
  display: flex;
}

.resultsCont #characterInfo .characterCont {
  margin: auto 0;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}

.resultsCont #characterInfo .characterCont .movieTitle {
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  line-height: 40px;
}

.resultsCont #characterInfo .characterCont p {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  line-height: 40px;
}

/* 
	MEDIUM and up 
*/
@media screen and (min-width: 40em) {
  #mainContent .resultsInfo {
    -webkit-box-shadow: 2px 0 2px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  #mainContent #characterInfo .characterCont .movieTitle {
    font-size: 22px;
  }
  #mainContent #characterInfo .characterCont p {
    font-size: 16px;
  }
}

/*
	Large and up 
*/
@media screen and (min-width: 64em) {
  #mainContent .resultsInfo {
    -webkit-box-shadow: 2px 0 2px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  #mainContent #characterInfo .characterCont .movieTitle {
    font-size: 24px;
  }
  #mainContent #characterInfo .characterCont p {
    font-size: 20px;
  }
}
